html{
    font-size: 22px;
}body{
    background-color: #333;
    color:whitesmoke
}
a{ 
    color:greenyellow;
}
a:visited{
    color:aquamarine;
}
a:hover, a:active{
    color:orangered;
}